.git
.github
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.pyc
.venv
venv
data
outputs
demo_outputs
models
checkpoints
weights
src_denoise
third_party
src/Depth_Anything
*.egg-info
*.ckpt
*.pth
*.pt
